.card {
    width: 15em;
    background-color: azure;
}

.entry-details h4 {
    font-size: 15px;
    color: #6c757d;
    font-style: italic;
}

.entry-details h2 {
    font-size: 30px;
    color: #1b6fba;
    font-weight: bold;
}

.entry-details p {
    text-align: justify;
    text-justify: inter-word;
}

.entry-details {
    padding: 10px;
    border-style: solid;
    border-color: #E3F2FD;
    border-radius: 3px;
}

